.nav-border{
    border: 2px solid rgb(26, 26, 26);
}


/* Меню боковой панели */
.sidenav {
    margin-top: 3%;
    /* padding-bottom: 5%; */
    height: 95%; /* Полная высота: удалите это, если вы хотите "авто" высота */
    width: auto; /* Установите ширину боковой панели */
    position: fixed; /* Фиксированная боковая панель (оставайтесь на месте при прокрутке) */
    z-index: 1; /* Оставайтесь с верху */
    top: 0; /* Оставайтесь на вершине */
    left: 0;
    background-color: rgb(158, 158, 158); /* Черный */
    overflow-x: hidden; /* Отключить горизонтальную прокрутку */
    padding: 40px;
  }
