{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <title>TitanFan 2</title>
</head>
<body>
<header class="header-container">
    <div class="start">
        REV-1b
    </div>
    <nav class="end">
        <a href="#">Works</a>
        <a href="#">About me</a>
        <a href="#">Profile</a>
    </nav>
</header>
<section class="main-section">
    <div class="info">
        <div>
            <h1>Я - Бэкендер!!!111</h1>
        </div>
        <p>
            Я - представитель сообщества сверхлюдей, повелителей асинхронности и SQL!
        </p>
        <button class="first-button">Прикоснуться к моей мудрости</button>
    </div>
    <div>
        <img class="my-face" src="{% static 'sticker.webp' %}" alt="My pretty face">
    </div>
</section>
<section class="skills">
    <h2 style="text-align: center">Могу пояснить за:</h2>
    <div class="skills-dir">
        <div class="skill back-1">
            Python
        </div>
        <div class="skill back-2">
            PostgreSQL
        </div>
        <div class="skill back-1">
            Django
        </div>
    </div>
    <div class="skills-dir">
        <div class="skill back-2">
            HTML
        </div>
        <div class="skill back-1">
            CSS
        </div>
        <div class="skill back-2">
            Здесь могла бы быть ваша реклама)
        </div>
    </div>
</section>
<section class="middle-section">
    <h2 style="text-align: center">Мои проекты:</h2>
    <div class="projects">
        <img class="project-image" src="{% static 'seabattle.jpg' %}" alt="Bruh">
        <div>Телеграмм бот, предоставляющий услуги УМНОГО(!) соперника для игры в морской бой.</div>
    </div>
    <div class="projects">
        <div>Телеграмм бот, предоставляющий услуги УМНОГО(!) соперника для игры в морской бой.</div>
        <img class="project-image" src="{% static 'seabattle.jpg' %}" alt="Bruh">
    </div>
    <div class="projects">
        <img class="project-image" src="{% static 'seabattle.jpg' %}" alt="Bruh">
        <div>Телеграмм бот, предоставляющий услуги УМНОГО! соперника для игры в морской бой.</div>
    </div>
</section>
<footer class="header-container">
    <div class="start">
        REV-1b
    </div>
    <nav class="end">
        <a href="#">Works</a>
        <a href="#">About me</a>
        <a href="#">Profile</a>
    </nav>
</footer>
</body>
</html>