<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/Titanfan2-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/fontello.css">
    <link rel="stylesheet" href="/static/css/titans.css">
    <title>Titan Fan 2</title>
</head>

<body style="background-color: rgb(201, 200, 200);">
    <header>
        <nav class="navbar fixed-top navbar-expand-sm bg-body-tertiary nav-border" data-bs-theme="dark">
            <div class="container">
                <a class="navbar-brand" href="base.html">
                    <img src="/static/img/Titanfan2-logo.png" alt="Logo" width="30" height="26"
                        class="d-inline-block align-text-top">
                    <span class="ps-1">Titan Fan 2</span>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <div class="navbar-nav">
                        <a class="nav-link" aria-current="page" href="#">Titans</a>
                        <a class="nav-link" href="#">Pilots</a>

                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Menu
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <section>
        <div class="sidenav nav-border">
            <nav id="navbar-example3" class="h-100 flex-column align-items-stretch">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link" href="#info">Общие сведения</a>
                    <a class="nav-link" href="#light-category">Легкие титаны:</a>
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link ms-3 my-1" href="#ronin">Ронин</a>
                        <a class="nav-link ms-3 my-1" href="#nordstar">Нордстар</a>
                    </nav>
                    <a class="nav-link" href="#item-2">Средние титаны:</a>
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link ms-3 my-1" href="#item-1-1">Ион</a>
                        <a class="nav-link ms-3 my-1" href="#item-1-2">Тон</a>
                        <a class="nav-link ms-3 my-1" href="#item-1-2">Монарх</a>
                        <a class="nav-link" href="#item-3">Тяжелые титаны:</a>
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link ms-3 my-1" href="#item-3-1">Скорч</a>
                            <a class="nav-link ms-3 my-1" href="#item-3-2">Легион</a>
                        </nav>
                    </nav>
                </nav>
            </nav>
        </div>

        <div class="container text-center" style="margin: 5%;">
            <div class="row">
                <div class="col-lg-3 col-sm-auto"></div>
                <div class="col-lg-9 col-sm-12">
                    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true"
                        class="scrollspy-example-2" tabindex="0">
                        <div id="info">
                            <h2>Общие сведения</h2>
                        </div>
                        <div id="light-category">
                            <h4>Item 1</h4>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos, doloribus ullam nihil quis
                                dolores itaque. Excepturi fuga autem, cupiditate officia ea, praesentium nihil rerum nam
                                magni ex, repellendus similique officiis.
                                Sequi vitae animi laboriosam doloremque vero facilis, perferendis dolores magnam
                                quisquam distinctio, delectus minima quibusdam eligendi illo quidem, iure quasi!
                                Recusandae, inventore dolorum consequatur impedit repudiandae labore nemo aliquam minus.
                                Rem aliquam accusantium eveniet possimus ipsam corrupti odio exercitationem deleniti
                                optio. Exercitationem rem ullam explicabo cupiditate, obcaecati culpa assumenda iste
                                optio inventore tempora natus at voluptates ratione ex sapiente debitis!
                                Tempora sapiente nostrum aut aperiam quidem nihil ratione alias recusandae voluptate,
                                placeat animi mollitia delectus est temporibus qui officiis quia quae fugit minima
                                libero dignissimos nam eligendi. Voluptatem, necessitatibus harum.
                                Tempore molestiae nulla iure. Culpa rem iure at voluptatibus, pariatur animi quaerat
                                dicta cum deleniti quam iusto tenetur doloremque saepe odio eligendi consectetur dolores
                                optio laudantium deserunt? Provident, sint consequatur.</p>
                        </div>
                        <div id="item-1-1">
                            <h5>Item 1-1</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur quidem adipisci id
                                veritatis perspiciatis cupiditate hic eligendi necessitatibus at! Eligendi adipisci fuga
                                aliquid molestias quasi modi ipsa ratione, dolorum cupiditate?
                                Eligendi dolorum asperiores optio odit placeat similique ullam, ex eaque beatae natus
                                modi corporis. Dolorum atque amet repellendus et architecto ea deleniti a rerum commodi,
                                quos voluptatibus, laudantium debitis assumenda!
                                Earum aperiam inventore a soluta ipsam repellendus dolorum odio enim velit, natus,
                                possimus et tempora ex adipisci. Libero quae corporis architecto maxime maiores,
                                recusandae facere corrupti eos consectetur quas vel.</p>
                        </div>
                        <div id="item-1-2">
                            <h5>Item 1-2</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus tempore maiores
                                similique, veritatis incidunt tempora. Enim voluptatem, illum assumenda harum, similique
                                atque, totam veritatis optio odit molestias saepe quidem obcaecati?
                                Necessitatibus alias non, sapiente molestiae debitis sint quos minus nemo, deserunt vel
                                exercitationem voluptas doloribus. Impedit incidunt modi tempore illo, exercitationem
                                nisi quae. Architecto dignissimos nihil voluptatum in culpa tempora?
                                Voluptates porro odio incidunt, facilis odit aliquid at velit tempore sequi. In fugit
                                voluptas excepturi tempore eligendi nihil provident obcaecati, nam delectus at libero
                                commodi molestiae earum consequuntur quisquam quasi.</p>
                        </div>
                        <div id="item-2">
                            <h4>Item 2</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus tempore maiores
                                similique, veritatis incidunt tempora. Enim voluptatem, illum assumenda harum, similique
                                atque, totam veritatis optio odit molestias saepe quidem obcaecati?
                                Necessitatibus alias non, sapiente molestiae debitis sint quos minus nemo, deserunt vel
                                exercitationem voluptas doloribus. Impedit incidunt modi tempore illo, exercitationem
                                nisi quae. Architecto dignissimos nihil voluptatum in culpa tempora?
                                Voluptates porro odio incidunt, facilis odit aliquid at velit tempore sequi. In fugit
                                voluptas excepturi tempore eligendi nihil provident obcaecati, nam delectus at libero
                                commodi molestiae earum consequuntur quisquam quasi.</p>
                        </div>
                        <div id="item-3">
                            <h4>Item 3</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus tempore maiores
                                similique, veritatis incidunt tempora. Enim voluptatem, illum assumenda harum, similique
                                atque, totam veritatis optio odit molestias saepe quidem obcaecati?
                                Necessitatibus alias non, sapiente molestiae debitis sint quos minus nemo, deserunt vel
                                exercitationem voluptas doloribus. Impedit incidunt modi tempore illo, exercitationem
                                nisi quae. Architecto dignissimos nihil voluptatum in culpa tempora?
                                Voluptates porro odio incidunt, facilis odit aliquid at velit tempore sequi. In fugit
                                voluptas excepturi tempore eligendi nihil provident obcaecati, nam delectus at libero
                                commodi molestiae earum consequuntur quisquam quasi.</p>
                        </div>
                        <div id="item-3-1">
                            <h5>Item 3-1</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus tempore maiores
                                similique, veritatis incidunt tempora. Enim voluptatem, illum assumenda harum, similique
                                atque, totam veritatis optio odit molestias saepe quidem obcaecati?
                                Necessitatibus alias non, sapiente molestiae debitis sint quos minus nemo, deserunt vel
                                exercitationem voluptas doloribus. Impedit incidunt modi tempore illo, exercitationem
                                nisi quae. Architecto dignissimos nihil voluptatum in culpa tempora?
                                Voluptates porro odio incidunt, facilis odit aliquid at velit tempore sequi. In fugit
                                voluptas excepturi tempore eligendi nihil provident obcaecati, nam delectus at libero
                                commodi molestiae earum consequuntur quisquam quasi.</p>
                        </div>
                        <div id="item-3-2">
                            <h5>Item 3-2</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus tempore maiores
                                similique, veritatis incidunt tempora. Enim voluptatem, illum assumenda harum, similique
                                atque, totam veritatis optio odit molestias saepe quidem obcaecati?
                                Necessitatibus alias non, sapiente molestiae debitis sint quos minus nemo, deserunt vel
                                exercitationem voluptas doloribus. Impedit incidunt modi tempore illo, exercitationem
                                nisi quae. Architecto dignissimos nihil voluptatum in culpa tempora?
                                Voluptates porro odio incidunt, facilis odit aliquid at velit tempore sequi. In fugit
                                voluptas excepturi tempore eligendi nihil provident obcaecati, nam delectus at libero
                                commodi molestiae earum consequuntur quisquam quasi.</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>














    <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>

</html>